img {
  width: 100%;
}

img:hover {
  cursor: pointer;
}

.card {
  width: 100%;
  max-width: 600px;
  background-color: #242526;
  border-radius: 8px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  padding-bottom: 10px;
}

.reactions-data {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 0;
  margin-bottom: 12px;
}

.comments-counter {
  cursor: pointer;
}

.card-hr {
  margin: 2px 16px;
}