.comment {
  background-color: #3A3B3C;
  padding: 7px 13px;
  border-radius: 15px;
  font-size: 15px;
  display: inline-block;
  min-width: 80px;
}

.comment span {
  font-weight: bold;
  font-size: 14px;
}

.comment-reactions {
  margin-bottom: 12px;
}

.comment-reactions span{
  margin-left: 15px;
  font-size: 13px;
  opacity: 0.7;
}

.comment-reactions span:hover {
  text-decoration: underline;
  cursor: pointer;
}