.user-info {
  display: flex;
}

.user-info figure {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.username p {
  font-weight: bold;
}
.username span {
  display: flex;
  align-items: center;
}

